* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 800;
  line-height: 1.2;
}

/* navbar */
nav {
  background: #333;
  color: #fff;
  overflow: auto;
}

nav a {
  color: #fff;
}

#logo {
  float: left;
  padding: 20px 20px 10px 10px;
}

nav ul {
  list-style: none;
  float: right;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

nav ul li a:hover {
  background: #f4f4f4;
  color: darkblue;
}
