body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  background: darkblue;
}

header h1,
ul,
li {
  background: greenyellow;
  display: inline;
  color: darkblue;
}

header ul li {
  text-decoration: underline;
}
