* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 800;
  line-height: 1.2;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
